<div class="masonry-item" lang="{{ .Site.Language.Lang }}">
  <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">
    <div class="masonry-content">
      <div class="masonry-image" alt="project capture"
        style="
          background: url('/portfolio/{{ .Slug }}.png') no-repeat center;
          width:100%;
        ">
      </div>
      <h3 class="masonry-title">{{ .Title }}</h3>
      <p class="masonry-description"><span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2006" ) }}</span> {{ .Description }}</p>
    </div>
  </a>
</div>
