{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="list">
    <header class="container">
      <h1 class="title">{{ .Title }}</h1>
      <style>
      </style>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet"></link>
    </header>

    <div class="search-wrapper">
      <!-- Options -->
      <p class="search-title">{{ i18n "portfolio_search" }}</p>
      <select id="search-chips" class="search-chips" multiple>
      </select>
    </div>

    <div class="gallery-wrapper">

      <div class="gallery-container">
        {{- range .Paginator.Pages -}}
          {{- .Render "li" -}}
        {{- end -}}
        <!--div class="masonry-footer">
          <p>Created with &#10084; with <a href="//w3bits.com/tools/masonry-generator/" target="_blank" rel="external noopener nofollow">CSS Masonry Generator</a></p>
        </div-->
      </div>
    </div>

    <footer>
      {{ partial "pagination.html" . }}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js" integrity="sha384-/hEMVznvyx6pEFW94sh/jbsWKK7m9yrpAb00Lzd8LnNOdHkNRDMpdItAMjUHX/rF" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.min.js" integrity="sha384-YnGSHPPWEUDKMHFPOVmNP7Xyfwx5G0CHet6IoNgiX6CbFZS8gCeIfEgB1MgPwjdI" crossorigin="anonymous"></script>
      <script defer src="{{ "js/masonry.js" | relURL }}"></script>
    </footer>
  </section>
{{ end }}
