{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <style>
  ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
  }

  ul li {
      padding-bottom: 10px;
  }

  ul li a {
      font-weight: bold;
  }

  .disabled-link {
      pointer-events: none;
      color: unset !important;
  }

  </style>

  <section class="container post">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">{{ .Title }}</h1>
        </div>
        <div class="post-meta">
          <div class="date">
            <span class="posted-on">
              <i class="fas fa-calendar"></i>
              <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              </time>
            </span>
            <span class="reading-time">
              <i class="fas fa-clock"></i>
              {{ i18n "reading_time" .ReadingTime }}
            </span>
          </div>
          {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>

      <div>
        {{- if .Params.featured_image -}}
          <img style="margin: 0 auto; display: block; max-width: 35%;" src='/portfolio/{{ .Slug }}.png' alt="Featured image"/>
        {{- end -}}
        <p>
        <em>{{- print .Params.description -}}</em>
        </p>
        <hr>
        {{ .Content }}
        {{ partial "ads.html" (dict "Site" .Site "ad_name" .Params.preferred_ad) }}
        <p>
        {{- $rel_str := "Released in " -}}
        {{- if eq .Site.Language.Lang "es" -}}
          {{- $rel_str = "Publicado en " -}}
        {{- end -}}
        {{- print $rel_str (.Date.Format (.Site.Params.dateFormat | default "Jan 2006" )) "." -}}
        </p>
        <hr>
        <ul>
        {{- range .Params.ctas -}}
            <li><i class="fa fa-{{index . 2}}"></i>&nbsp; <a href="{{index . 1}}" {{- if and (index . 4) (eq (index . 4) "true") -}}{{- print "class=\"disabled-link\"" -}}{{- end -}} rel="nofollow">{{index . 0}}</a></li>
        {{- end -}}
        </ul>
      </div>
    </article>

    {{ partial "posts/math.html" . }}
  </section>
{{ end }}
