@mixin content_dark {

  .content {
    .masonry-item {
      color: #00ff7f !important;
      background-color: #2b2b2b;
    }

    article {
      .spoiler {
        color: $fg-color-dark;
        background-color:$fg-color-dark;
        &:hover {
          background-color:$bg-color-dark;
        }
      }
      .spoiler2{
        color: $fg-color-dark;
        background-color:$fg-color-dark;
        &:hover{
          color: $bg-color-dark;
        }
      }
    }

    .list {
      ul {
        li {
          .title {
            color: $fg-color-dark;
            &:hover,
            &:focus {
              color: $link-color-dark;
            }
          }
        }
      }
    }

    .centered {
      .about {
        background-color: #212121aa;
        padding: 2rem 10rem;
        border: 1px solid;
        border-radius: 3rem;
        box-shadow: 4px 4px 10px darkslateblue;
        h1, h2 {
          color: $fg-color-dark;
        }
        ul {
          li {
            a {
              color: $fg-color-dark;
              &:hover,
              &:focus {
                color: $link-color-dark;
              }
            }
          }
        }
      }
    }
  }

}

body.colorscheme-dark {
  @include content_dark()
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include content_dark()
  }
}
