{{ $output := slice }}
{{ if or (not .ad_name) (not (index .Site.Params.ads.embed .ad_name)) }}
  {{ $embeds := .Site.Params.ads.embed }}
  {{ range .Site.Params.ads.enabled_embed }}
    {{ $output = union ($output) (index $embeds .) }}
  {{ end }}
{{ else }}
  {{ $output = index .Site.Params.ads.embed (.ad_name) }}
{{ end }}

<script>
  {{- $script := "let items = [];" -}}
  {{- range (shuffle $output) -}}
    {{- $script = printf "%s%s" $script (printf "items.push(\"%s\");" .) -}}
  {{- end -}}
  {{- $script = printf "%s%s" $script "let placement_spot = items[Math.floor(Math.random() * items.length)];" -}}
  {{- $script = printf "%s%s" $script "let placement_html = \"<span style='width:600px; height:100px; border:0px; display: block; margin: auto;'>\"+placement_spot+\"</span>\";" -}}
  {{- $script = printf "%s%s" $script "document.write(placement_html);" -}}
  {{- printf "%v" $script | safeJS -}}
  // print ( printf "%v" $script | safeJS | resources.FromString . ) | resources.Minify | safeHTML
</script>

<noscript>
  <span style="width:600px; height:100px; border:0px; display: block; margin: auto;">
  {{ safeHTML (index $output 0) }}
  </span>
</noscript>
