{{ $url := "sprites/anzimus-construction.png" }}
<div class="masonry-image" alt="{{ .Title }}"
{{ if isset . "maxWidth" }}
  style="
    background: url({{ $url | relURL }}) 0 0 no-repeat;
    background-size: 600%;
    height: 192px;
    animation: like-gif steps(5) 2s infinite both;
    animation-play-state: paused;
  ">
{{ else }}
  style="
    background: url({{ $url | relURL }}) 0 0 no-repeat;
    background-size: 600%;
    height: 192px;
    animation: like-gif steps(5) 2s infinite both;
    animation-play-state: paused;
    width:100%;
  ">
{{ end }}
</div>
