{{ $scratch := newScratch }}
{{ if or (len .Params | eq 0) (not (index .Site.Params.ads.embed (.Get 0))) }}
  {{ $scratch.Set "output" (slice) }}
  {{ $embeds := .Site.Params.ads.embed }}
  {{ range .Site.Params.ads.enabled_embed }}
    {{ $scratch.Set "output" (union ($scratch.Get "output") (index $embeds .)) }}
  {{ end }}
{{ else }}
  {{ $scratch.Set "output" (index .Site.Params.ads.embed (.Get 0)) }}
{{ end }}
{{ $ad_html := $scratch.Get "output" }}

<script>
  let items = [];
  {{ range $ad_html }}
    items.push({{print (safeHTML .)}});
  {{ end }}

  let placement_spot = items[Math.floor(Math.random() * items.length)]
  let placement_html = "<span style='width:600px; height:100px; border:0px; display: block; margin: auto;'>"+placement_spot+"</span>";
  document.write(placement_html);
</script>

<noscript>
  <span style="width:600px; height:100px; border:0px; display: block; margin: auto;">
  {{ safeHTML (index (shuffle $ad_html) 0) }}
  </span>
</noscript>
